
#box1{
    width: 400px;
    height: 400px;
    background-color: red;
    position: relative;
    z-index: 555;

}
.box2 {
    width: 220px;
    height: 220px;
    background-color: skyblue;
    position: absolute;
    z-index: -1;
}